.rdpRoot {
  --rdp-nav-height: 24px;
  --rdp-nav_button-height: 24px;
  --rdp-nav_button-width: 24px;

  --rdp-day-width: 32px;
  --rdp-day-height: 32px;
  --rdp-day_button-height: 32px;
  --rdp-day_button-width: 32px;

  --rdp-accent-color: #1a1a1a;
}

.rdp-nav {
  position: absolute;
}

.rdp-button_previous {
  position: absolute;
  left: 0;
  top: 1px;
  z-index: 1;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.rdp-button_next_default {
  position: absolute;
  top: 1px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* 10월 이전 오른쪽 버튼 위치 조정 */
.rdp-button_next_default_before_october {
  left: 112px;
}

/* 10월 이후 오른쪽 버튼 위치 조정 */
.rdp-button_next_after_october {
  left: 124px;
}

.rdp-chevron {
  width: 20px;
  height: 20px;
}

.rdp-month_caption {
  color: #1a1a1a;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.rdp-caption_label {
  margin-left: 24px;
}

.rdp-months {
  max-width: 100%;
}

.rdp-month {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rdp-weekdays {
  display: flex;
  justify-content: space-between;
  color: #b0b0b0;
}

.rdp-weekday {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rdp-weeks {
  display: flex;
  flex-direction: column;
  gap: 12.6px;
}

.rdp-week {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.rdp-day {
  width: 32px;
  height: 32px;
}

.rdp-selected {
  background-color: #59ac6e;
  color: #fff !important;
  border-radius: 50%;
}

.rdp-outside {
  color: #b0b0b0;
}
