@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #171717;
}

@font-face {
  font-family: "Gigantic";
  src:
    url("/fonts/Gigantic.woff2") format("woff2"),
    url("/fonts/Gigantic.woff") format("woff"),
    url("/fonts/Gigantic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GmarketSans-Medium";
  src:
    url("/fonts/GmarketSansTTFMedium.woff2") format("woff2"),
    url("/fonts/GmarketSansTTFMedium.woff") format("woff"),
    url("/fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GmarketSans-Bold";
  src:
    url("/fonts/GmarketSansTTFBold.woff2") format("woff2"),
    url("/fonts/GmarketSansTTFBold.woff") format("woff"),
    url("/fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .text-heading1-medium {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0px;
  }

  .text-heading1-bold {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0px;
  }

  .text-heading2-medium {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0px;
  }

  .text-heading2-bold {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0px;
  }

  .text-body1-medium {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .text-body1-bold {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  .text-body2-medium {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }

  .text-body2-bold {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
  }

  .text-body3-medium {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }

  .text-body3-bold {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
  }

  .text-body4-medium {
    font-size: 10px;
    line-height: 18px;
    font-weight: 500;
  }

  .text-body4-bold {
    font-size: 10px;
    line-height: 18px;
    font-weight: 700;
  }

  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }

  .bottom-padding {
    @apply pb-[95px];
  }
}

@layer components {
  .input-base {
    @apply font-gsans-medium h-12 w-full rounded-xl bg-white px-4 py-4 text-sm font-medium;
  }
  .input-default {
    @apply border-[0.8px] border-[#B0B0B0] focus:outline-[#3F8EFF];
  }
  .input-error {
    @apply border-[1.2px] border-[#EB4E2A] focus:outline-[#EB4E2A];
  }
  .input-placeholder {
    @apply placeholder:text-sm placeholder:font-medium placeholder:text-[#B0B0B0];
  }

  .textarea-base {
    @apply font-gsans-medium bg-grey-0 rounded-2xl px-4 py-4 text-sm font-medium;
  }
  .textarea-placeholder {
    @apply placeholder:text-sm placeholder:font-medium placeholder:text-[#B0B0B0];
  }

  /* 모임 요약 카드의 그림자 속성 등*/
  .card-base {
    @apply overflow-hidden rounded-2xl px-5 py-3.5 shadow-[0px_4px_24px_0px_rgba(170,170,170,0.15)];
  }
}

@theme {
  --color-grey-0: #ffffff;
  --color-grey-50: #f6f6f6;
  --color-grey-200: #d1d1d1;
  --color-grey-300: #b0b0b0;
  --color-grey-400: #888888;
  --color-grey-950: #1a1a1a;

  --color-green: #59ac6e;
  --color-blue: #58b6ff;
  --color-yellow: #f9ac14;
  --color-error: #eb4e2a;
  --font-gsans-bold: "GmarketSans-Bold", "sans-serif";
  --font-gsans-medium: "GmarketSans-Medium", "sans-serif";
  --font-gigantic: "Gigantic", "sans-serif";

  --animate-slide-up: slide-up 0.3s ease-in-out;

  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/**@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "GmarketSans", sans-serif;
}
